[Unit]
Description=Digital Signage Application system interface
After=network.target

[Service]
ExecStart=/usr/bin/appitfd
CapabilityBoundingSet=
ReadOnlyPaths=/
ReadWritePaths=/sys/class/backlight

[Install]
WantedBy=multi-user.target
