[Unit]
Description=Digital Signage Application system interface
After=network.target
Before=application.service

[Service]
ExecStart=/usr/bin/appitfd
CapabilityBoundingSet=
ReadOnlyPaths=/
ReadWritePaths=/sys/class/backlight /sys/devices

[Install]
WantedBy=multi-user.target
